/* public/css/base/reset.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: var(--color-texto-oscuro);
    background-color: var(--color-blanco);
}

html {
    scroll-behavior: smooth;
}